{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="product-detail-container">
    <img src="{{ product.image.url }}" alt="{{ product.name }}">
    <div class="product-info">
        <h2>{{ product.name }}</h2>
        <strike><p>₹{{ product.price }}</p></strike><br>
        <p>
            {% if product.on_sale %}
            <strike> <span class="original-price">₹{{ product.price }}</span> </strike><br>
            <span class="sale-price">₹{{ product.sale_price }}</span>
            {% else %}
            <span class="regular-price">₹{{ product.price }}</span>
            {% endif %}
        </p>
        <p>{{ product.description }}</p>
        <form method="post" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <input type="number" name="quantity" value="1" min="1">
            <button type="submit">Add to Cart</button>
        </form>
    </div>
</div>
{% endblock %}
