/*  styles for the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    padding: 10px 10px; 
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 3px;  
}

.navbar-nav .dropdown-item {
    color: white; 
    text-decoration: none; 
    margin: 0 3px; 
}

.navbar-nav .dropdown-item:hover {
    background-color: #45a049;  
    color: white;
}

.navbar-nav .dropdown-menu {
    background-color: #4CAF50;  
    padding: 10px; 
    border-radius: 4px; 
}

.navbar-nav .dropdown-toggle {
    color: white; 
}

.navbar-nav .dropdown-menu .dropdown-divider {
    background-color: white; 
}


/* Footer styles */
.footer {
    background-color: black; 
    color: white; 
    text-align: center; 
    padding: 20px 0; 
    position: relative;
    bottom: 0;
    width: 100%; 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: white; 
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline; 
}

/* Responsive design for the footer */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-links {
        margin-top: 10px;
        flex-direction: column;
        gap: 10px;
    }
}

/* Styles for the cart table */
.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.cart-table th, .cart-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.cart-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.cart-table td {
    background-color: #fff;
}

.remove-btn {
    background-color: red;
    color: white;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.remove-btn:hover {
    background-color: #cc0000;
}

/* styles  for the home page */
.home-container {
    position: relative;
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
    box-sizing: border-box; 
    height: auto; 
    overflow: hidden; 
}

.home-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('{% static "images/background.jpeg" %}');
    background-size: cover;  
    background-position: center;
    opacity: 0.6; 
    z-index: -1; 
}

/* display product in home page */
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    box-sizing: border-box; 
    grid-auto-rows: auto; 
}

@media (max-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: 1fr; 
    }
}

/* Individual product cards */
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    padding: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-height: 300px; 
    box-sizing: border-box; 
}


.product-card img {
    width: 100%;
    height: auto; 
    max-height: 120px; 
    object-fit: cover;
    border-radius: 8px;
}


.product-card h3 {
    font-size: 1rem; 
    text-align: center;
    margin: 8px 0; 
}

.product-card p {
    text-align: center;
    font-size: 0.9rem; 
    margin: 5px 0;
}

.product-card form {
    width: 100%;
    text-align: center;
}

.product-card button,
.product-card a {
    margin-top: 8px; 

}

/* Add to Cart button and View Details button */
.product-card button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.product-card button:hover {
    background-color: #45a049;
}

.view-details {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

.view-details:hover {
    background-color: #45a049;
    text-decoration: underline;
}

@media (max-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: 1fr; 
    }
}

/*styles for both  login and signup page*/
.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #0056b3;
}

.form-container p {
    text-align: center;
    margin-top: 15px;
    color: #666;
}

.form-container p a {
    color: #007bff;
    text-decoration: none;
}

.form-container p a:hover {
    text-decoration: underline;
}


@media (max-width: 600px) {
    .form-container {
        margin: 20px;
        padding: 15px;
    }

    .form-container h2 {
        font-size: 20px;
    }
}

.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
}

.about-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.about-section {
    margin-bottom: 30px;
}

.about-section h2 {
    color: #2d2d2d;
    margin-bottom: 10px;
}

.about-section ul {
    list-style-type: disc;
    margin-left: 20px;
}

.about-section p, .about-section li {
    font-size: 16px;
    color: #555;
}

/* Styles  for logo in about page */
.logo-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #000;
}

/* Price styles */
.original-price {
    text-decoration: line-through;
    color: red;
    margin-right: 10px;
}

.sale-price {
    color: green;
    font-weight: bold;
}

.regular-price {
    color: black;
    font-weight: bold;
}

/* Product detail page styles */
.product-detail-container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-detail-container img {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.product-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-info h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.product-info p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Price styles */
.product-info .original-price {
    text-decoration: line-through;
    color: red;
    margin-right: 10px;
}

.product-info .sale-price {
    color: green;
    font-weight: bold;
    font-size: 1.2rem;
}

.product-info .regular-price {
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

/* Add to cart button */
.product-info form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.product-info input[type="number"] {
    width: 100px;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.product-info button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.product-info button:hover {
    background-color: #45a049;
}

.product-info button:active {
    background-color: #3e8e41;
}

/* styles of buy_now  Page */
.thank-you-container {
    margin: 30px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.thank-you-container h1 {
    color: #4CAF50;
    text-align: center;
}

.thank-you-container ul {
    list-style-type: none;
    padding: 0;
}

.thank-you-container li {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

.thank-you-container h3 {
    font-size: 1.5em;
    color: #333;
    text-align: center;
}

.thank-you-container p {
    font-size: 1.2em;
    color: #777;
    text-align: center;
}
/* Styles for the BuyN_ow button */
.buy-now-btn {
    background-color:skyblue;
    color: white;
    font-size: 16px; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
    width: 100%; 
}

.buy-now-btn:hover {
    background-color: #45a049; 
    transform: scale(1.05); 
}

@media (max-width: 600px) {
    .buy-now-btn {
        font-size: 14px; 
        padding: 8px 16px; 
    }
}

