{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="thank-you-container">
    <h1>Thank you for your purchase!</h1>
    <h2>Your products are:</h2>
    <ul>
        {% for item in order_details %}
            <li>
                {{ item.name }} - ₹{{ item.price }} x {{ item.quantity }} = ₹{{ item.total_price }}
            </li>
        {% endfor %}
    </ul>
    <h3>Total Amount: ₹{{ total_amount }}</h3>
    <p>Thank you for buying products in ClickCart. You will receive your products within 2 hours ....</p>
</div>
{% endblock %}
